<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col>
        <img src='assets/logo/thermtec-logo.jpeg' width="150">
    </ion-col>
  </ion-row>
  <div class="login-box">
    <ion-list inset>
      <form #loginForm='ngForm' (ngSubmit)='login()' autocomplete='off'>
        <ion-row>
          <ion-col>
              <ion-item>
                <ion-input placeholder='Usuário' name='username' id='loginField' type='text' required
                  [(ngModel)]='username'>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-input placeholder='Senha' name='password' id='passwordField' type='password' required
                  [(ngModel)]='password'>
                </ion-input>
              </ion-item>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>
    <ion-row>
      <ion-col class="signup-col">
        <ion-button class="submit-btn" color='primary' expand='block' fulltype='submit' [disabled]='loginForm.form.valid'>ENTRAR</ion-button>
        <ion-button class="register-btn" color='primary' expand='block' clear (click)="createAccount()">CADASTRE-SE</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>