
.logo-row {
    padding-top: 50px;
}

.logo-row img {
    border-radius: 5%
}

.login-box {
    padding: 0;
    margin-top: 10px;
    border-radius: 10%
}
.login-content {
    --background: none;
    background-color: #fff;
    background-image: url('../../../assets/background/bg-login.jpg');
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
}

ion-row {
    align-items: center;
    text-align: center;
}

ion-item {
    border-radius: 30px !important;
    padding-left: 30px !important;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 0px !important;
    box-shadow: none !important;
}

.signup-col {
    margin: 0px 16px 0px 16px;
    padding-bottom: 20px;
}

.item-inner {
    border-bottom-color: #ffffff !important;
    box-shadow: none !important;
}